<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hk.transport">

    <permission
        android:name="com.example.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.googlemapsv2.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Register.RegisterFirstActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Register.RegisterMobileNumberActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.RegisterVerifyMobileActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.RegisterEnterPasswordActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.RegisterEnterEmailSignUpActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.RegisterTnCActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.RegisterEnterNameSignUpActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.RegisterEnterPasswordSignUpActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Register.ForgetPasswordActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".FindingYourRideActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".MasterActivity"
            android:label="@string/title_activity_master"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnCt46qn6t7tl4Y71FImJtnzo-yWfLBOg"/>
    </application>

</manifest>